* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v41_2 {
  width: 1920;
  height: 3500px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v41_3 {
  width: 526px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 431px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v41_4 {
  width: 1040px;
  height: 93px;
  background: rgba(167,70,70,1);
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 431px;
  overflow: hidden;
  
}
.v41_5 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 397px;
  left: 438px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v41_6 {
  width: 1141px;
  height: 99px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 386px;
  overflow: hidden;
}
.v41_7 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 131px;
  left: 412px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v41_8 {
  width:  1141px;   
  height: 590px;
  background: url("http:/www.localhost:3000/v41_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 523px;
  left: 390px;
  overflow: hidden;
}
.v41_9 {
  width: 1116px;
  height: 76px;
  background: rgba(253,252,252,1);
  opacity: 1;
  position: absolute;
  top: 1131px;
  left: 408px;
  border: 1px solid rgba(249,3,3,1);
  overflow: hidden;
}
.v41_10 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v41_11 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1155px;
  left: 414px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v41_13 {
  width: 235px;
  height: 129px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 1264px;
  left: 521px;
  border: 5px solid rgba(255,0,0,1);
  overflow: hidden;
}
.v41_14 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1299px;
  left: 562px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_15 {
  width: 253px;
  height: 129px;
  background: url("http://www.localhost:3000/v41_15.png");
  opacity: 1;
  position: absolute;
  top: 1272px;
  left: 727px;
}
.v41_16 {
  width: 255px;
  height: 129px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1264px;
  left: 837px;
  border: 5px solid rgba(255,0,0,1);
  overflow: hidden;
}
.v41_17 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1285px;
  left: 914px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_18 {
  width: 268px;
  height: 132px;
  background: rgba(255,251,251,1);
  opacity: 1;
  position: absolute;
  top: 1261px;
  left: 1173px;
  border: 5px solid rgba(255,0,0,1);
  overflow: hidden;
}
.v41_19 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1285px;
  left: 1249px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_20 {
  width: 488px;
  height: 120px;
  background: rgba(246,116,116,1);
  opacity: 1;
  position: absolute;
  top: 1433px;
  left: 512px;
  border: 5px solid rgba(255,0,0,1);
  overflow: hidden;
}
.v41_21 {
  width: 372px;
  color: rgba(4,4,4,1);
  position: absolute;
  top: 1465px;
  left: 576px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_22 {
  width: 268px;
  height: 122px;
  background: rgba(255,253,253,1);
  opacity: 1;
  position: absolute;
  top: 1433px;
  left: 1173px;
  border: 5px solid rgba(255,0,0,1);
  overflow: hidden;
}
.v41_23 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1471px;
  left: 1202px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_24 {
  width: 360px;
  height: 118px;
  background: rgba(200,79,79,1);
  opacity: 1;
  position: absolute;
  top: 751px;
  left: 1532px;
  border: 5px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v41_25 {
  width: 380px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 780px;
  left: 1666px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v41_26 {
  width: 360px;
  height: 2631px;
  background: rgba(255,249,249,1);
  opacity: 1;
  position: absolute;
  top: 869px;
  left: 1530px;
  border: 4px solid rgba(255,1,1,1);
  overflow: hidden;
}
.v41_27 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 875px;
  left: 1538px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v41_28 {
  width: 350px;
  height: 362px;
  background: url("http://www.localhost:3000/v41_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 1505px;
  overflow: hidden;
}
.v41_29 {
  width: 385px;
  height: 767px;
  background: url("http://www.localhost:3000/v41_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 0px;
  overflow: hidden;
}
.v41_30 {
  width: 392px;
  height: 767px;
  background: url("http://www.localhost:3000/v41_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1592px;
  left: 0px;
  overflow: hidden;
}
.v41_31 {
  width: 392px;
  height: 767px;
  background: url("http://www.localhost:3000/images/v41_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2469px;
  left: 0px;
  overflow: hidden;
}
.v41_32 {
  width: 386px;
  height: 358px;
  background: url("http://www.localhost:3000/images/v41_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 4px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v41_35 {
  width: 988px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2267px;
  left: 489px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v41_36 {
  width: 808px;
  height: 595px;
  background: url("http://www.localhost:3000/v41_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1629px;
  left: 551px;
  overflow: hidden;
}
